* {
    margin: 0%;
    padding: 0%;
}
.strt {
    color: #212A3E;
    background-color: #282626;

}


.main {
    
    display: flex;
    
    align-items: center;
    
    background-color: #282626;
    
    background-position: center;
}
.perenttext{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
   
    padding: 1%;
   
    backdrop-filter: blur(3px);
    -webkit-backdrop-filter:blur(3px);
}
.childtext{
    margin: 0% 0% 0%;
    padding: 1%;
    height: max-content;    
    background-color: rgba(255, 255, 255, 0.3);
    color:rgb(0, 0, 0);
    width: 50rem;
    border-radius: 20px;
    box-shadow: 0px 0px 21px 4px #e6fe5e;    
}

.main p span {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    font-size: 1.8rem;
    font-weight: 600;
    
}
.main p span:hover {
    text-decoration: underline solid black;
}
.main>.perenttext>p {
    text-align: center;
    font-size:1.5rem;
    font-weight: 500;
    
}
.cli {
    text-align: center;
    font-size: 1.4rem;
    
}
.mbtt{
    
    padding-top: 3%;
}
.btn-warning {
    
    padding: 1% 1%;
    width: max-content;
    background-color: #9BA4B5;
    color: #212A3E;
    border-radius: 20px;
    font-weight: 700;
}
.btn-warning:hover {
    background-color: #212A3E;
    color: aliceblue;
    box-shadow: 0px 0px 10px 10px #9BA4B5;
}
@keyframes slideInLeft {
    0% {
        transform: translateX(-100%);
    }
    100% {
        transform: translateX(0);
    }
}
@keyframes slideInup {
    0% {
        transform: translateY(-100%);
    }
    100% {
        transform: translateY(0);
    }
}
.foo {
    background-color: cornflowerblue;    
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 1%;
    padding-top: 1%;
}
.aboutop {
    background-color: #1f1f38;
    color: #F1F6F9;
    border-radius: 20px;
    width: 320px;

    padding-left: 2%;
    padding-right: 2%;
}
.aboutop:hover {
    background-color: #9BA4B5;
    color: #1f1f38;
}
.about {
    font-size: 25px;
    font-weight: 500;    
    text-decoration: underline solid black;   
}
.foo p {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 13%;
}
.dev {
    background-color: #1f1f38;
    color: #F1F6F9;
    border-radius: 20px;
    margin-left: 1%;
    padding-left: 2%;
    padding-right: 2%;
}
.dev:hover {
    background-color: #9BA4B5;
    color: #1f1f38;
}
.devt {
    margin-top: 0;
    padding-top: 0;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline solid black;
}
.devd {

    font-size: 22px;
    font-weight: 500;
    padding-bottom: 13%;
}
.icon a {
    padding-right: 4%;
}
.icon>a :hover{
    color: crimson;
}
.address {
    background-color: #1f1f38;
    color: #F1F6F9;
    border-radius: 20px;
    width: 320px;
    margin-left: 1%;    
    padding-left: 2%;
    padding-right: 2%;
}
.addt {
    margin-top: 0;
    padding-top: 0;
    font-size: 25px;
    font-weight: 500;
    text-decoration: underline solid black;
}
.addd {
    font-size: 22px;
    font-weight: 500;
    padding-bottom: 11%;
}
.FaLocationArrow {
    color: red;   

}
.FaLocationArrow:hover {
    color: rgb(13,110,253);

}

.address:hover {
    background-color: #9BA4B5;
    color: #1f1f38;
}
@media screen and (max-width: 1333px) {
    .perenttext{
        padding: 4%;
    }
    .foo {
        display: grid;
        justify-items: center;
        text-align: center;
        margin-bottom: 10%;
        gap: 10px;
    }
    .foo p, .addd {
        padding-bottom: 2%;
    }
    .aboutop,
    .dev,
    .address {
        overflow-y: hidden;
        border: none;
        width: 100%;        
        padding: 0 5%;        
        margin: 0;
        text-align: center;
    }
}
@media screen and (max-width: 800px) {
    .strt {

        overflow-x: hidden;
    }
    
    .perenttext{
        padding: 4%;
    }
    .foo {
        width: 100%;
        height: 100%;
        
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
    }
    .foo, .aboutop, .dev, .address {
        width: 100%;
        padding: 4%;
        margin: 0;
        text-align: center;
    }
    .main{
        
        background-position: center;
        background-repeat: no-repeat;
    }
    
    .childtext{
        width: 100%;
        padding: 4%;
        font-size: 0.5rem;
    }
}

