.tb{
    color: #212A3E;
  }  
  .mainb {
    font-family: Arial, sans-serif;
    padding: 20px;
    border-radius: 10px;
  }  
  .titelb {
    font-size: 2.15rem;
    font-weight: 600;
  }  
  .mainc {
    margin-top: 2.5%;
    display: grid;
    justify-content: center;
    gap: 20px;
  }  
  .add-budget {
    background-color: #9BA4B5;
      border-radius: 4px;
      /* margin-left: 6.1%; */
      /* 4.7 */
      width: max-content;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      padding: 20px;     
    }
    .add-budget input[type="text"],
    .add-budget input[type="number"],
    .add-budget input[type="date"],
    .add-budget select {
      flex: 1;
      margin: 4px;
      padding: 8px;
      border: 1px solid #ccc;
      border-radius: 4px;
      font-size: 16px;
    }
    .adb {
      background-color: darkblue;
      color: white;
      border: none;
      padding: 10px 16px;
      cursor: pointer;
      border-radius: 4px;
      font-size: 16px;
      width: 150px;
      height: 37px;  
    }  
    .pri {
      margin-left: 1%;
    } 
    .foot{
      margin-top: 5%;
      text-align: center;
      font-size: 2rem;
      font-weight: 600;
    }
    .foot:hover{
      color:#272829;
      text-shadow: 0px 3px 4px  whitesmoke;
    }  

    .extra{
      
    }
    /* @media screen and (min-width: 768px) {     
      .add-budget input[type="text"],
      .add-budget input[type="number"],
      .add-budget select {
        width: calc(33% - 8px);
      }
    }     */
    @media screen and ( max-width: 889px){     
      .mainb{
        padding-top: 10%;
      }
      .tb{
        
      }
    }
          @media screen and (max-width: 777px){
           .mainc{
            justify-content: center;
           }
            .add-budget{
              padding: 2% 5%;              
              display: grid;
              justify-self: center;
              width: max-content;
            }
            .add-budget{
              width: max-content;
            }
            .add-budget input[type="text"],
            .add-budget input[type="number"],
            .add-budget input[type="date"],
            .add-budget select{
      justify-self: center;
      width: 100%;
      
    }
    .pri{
      margin-top: 2%;
    }
}
/* @media screen and (max-width: 316px){
  .tb{
    width: 100vh;
  }
  .pri{
    margin-top: 1%;
  }
}      */
    @media print {
      .add-budget {
        display: none;
      }
      .titelb{
          padding-bottom: 1%;
      }
      .foot>span{
        display: none;
      }
  
  
    }